{% extends "blog/base.html"%}
{% block content %}
	<h2>Has cerrado la sesion</h2>
	<div class="border-top pt-3">
		<small class="text-mutted">
			<a class="ml-2" href="{% url 'login' %}">Iniciar Sesion</a>
		</small>
	</div>

{% endblock content %}